.itemWrapper {
  height: 56px;
  display: flex;
  border: 1px solid #000000;
  border-collapse: collapse;

  .deleteButton {
    background-color: transparent;
    border: none;
    border-right: 1px solid #000000;
    cursor: pointer;
  }

  .completeDelete {
    border-right: 1px solid #3757ff;
  }
}

.label {
  display: flex;
  padding-left: 16px;
  align-items: center;
  flex-grow: 2;
  font-size: 18px;
  line-height: 25px;
}

.checkbox {
  height: 100%;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #000000;
  border-collapse: collapse;
}

.checked {
  border-color: #3757ff;
  text-decoration-line: line-through;
  color: #3757ff;
}
