@font-face {
  font-family: 'Helvetica';
  src: url('../assets/Helvetica.ttf') format('truetype'),
       url('../assets/Helvetica\ Light.ttf');
}




html {
  font-size: 10px;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}
