.addTodoWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.heading {
  font-size: 48px;
  display: inline;
  margin: 0;
  text-align: left;
}

.addTodoInput {
  height: 57px;
  font-size: 1.6rem;
  padding: 0 1rem;
  background-color: transparent;
  border: 1px solid #000000;
  outline: none;
  font-family: 'Helvetica';
}

.addTodoButton {
  position: absolute;
  right: 0;
}
